<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello {{username}},<br>
      <br>
      Your "{{ job_type }}" dataset from "{{ collection.name }}" failed to generate.<br>
      <br>
      You may retry your request <a href="{{ retry_url }}">here</a>.<br>
      <br>
      <a href="{{ support_url }}">Contact us here</a> for direct support if this issue persists.<br>
      <br>
      Best,<br>
      The ARCH team
    </p>
  </body>
</html>
