{% autoescape off %}

  Dear {{ user.first_name or user.get_username() }},

  You're receiving this email because you requested a password reset for your user login to ARCH.

  Please go to {{ protocol }}://{{ domain }}{{ url('password_reset_confirm', kwargs={"uidb64": uid, "token": token}) }} and choose a new password.

  In case you’ve forgotten, your username is: {{ user.get_username() }}

  If you are experiencing any issues, please create a support ticket at: {{ arch_support_ticket_url }}

  All the best,

  The ARCH Team

{% endautoescape %}
