{% autoescape off %}

  Dear {{ user.first_name or user.get_username() }},

  You're receiving this email because you requested a password reset for your user login to {{ domain }}.

  Please go to {{ protocol }}://{{ domain }}{{ url('password_reset_confirm', kwargs={"uidb64": uid, "token": token}) }} and choose a new password.

  In case you’ve forgotten, your username is: {{ user.get_username() }}

  Please contact us at {{ vault_team_email }} if you are experiencing any issues.

  All the best,

  The Vault Team

{% endautoescape %}
