{% extends 'keystone/base.html' %}
{% block header%}{% endblock %}
{% block sticky_message %}{% endblock %}

{% block content %}
  <div class='small-6 columns small-centered margin-top two'>
    <h1>Change your password</h1>
    {% if form.new_password1.help_text %}
      <p class="help">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}
    <form action="" method="post">
      {{ csrf_input }}
      <div class="fieldWrapper">
        <label for="{{ form.old_password.id_for_label }}">Current password</label>
        {{ form.old_password }}
        {{ form.old_password.errors }}
      </div>

      <div class="fieldWrapper">
        <label for="{{ form.new_password1.id_for_label }}">New password</label>
        {{ form.new_password1 }}
      </div>
      <div class="fieldWrapper">
        <label for="{{ form.new_password2.id_for_label }}">Confirm new password</label>
        {{ form.new_password2 }}
      </div>

      {{ form.new_password1.errors }}
      {{ form.new_password2.errors }}

      <button type="submit" class="padding-top padding-bottom half small">Reset Password</button>
    </form>
  </div>
{% endblock %}
