{% extends 'registration/base_not_logged_in.html' %}
{% block content %}
  <div class='small-6 columns small-centered margin-top two'>
    <h1>Request New Password</h1>
  </div>
  <div class='small-6 columns small-centered margin-top two'>
    <p class="slightly smaller">
      Enter the email address associated with your Vault login to receive an email
      with a temporary password. If you are unsure of your username contact your
      account's administrator or email a Web Archivist at:
      <a href="mailto:{{ vault_team_email }}">{{ vault_team_email }}</a>.
    </p>
    <form action="" method="post">
      {{ csrf_input }}
      {{ form }}
      <button type="submit" class="padding-top padding-bottom half small">Request new password</button>
    </form>
  </div>
{% endblock %}
