{% set breadcrumbs = (("Account", "account"),) %}
{% set account_max_users_reached = user.account.user_set.count() >= user.account.max_users %}

{% extends 'keystone/base.html' %}

{% block header_title %}
Account
{% endblock %}

{% block head_extra %}
  <script src="{{ static('/js/arch-user-table.js') }}" type="module"></script>
{% endblock %}

{% block subnav %}
<subnav data="state.menus.research_services">
  <div class="row subnav">
    <div class="small-12 columns">
      <div class="row">
        <div class="subnav-box columns">
          <div class="left subnav-link research_services active">
            <span><a href="{{ url('account-users') }}">Users</a></span>
          </div>
          <div class="left subnav-link research_services">
            <span><a href="{{ url('account-teams') }}">Teams</a></span>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</subnav>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    {% if account_max_users_reached %}
    <p class="alert alert-info">
      Your account has reached its maximum number of allowed users. Please contact your account administrator if you need to create a new user.
    </p>
    {% endif %}
    <arch-user-table
      accountId="{{ user.account.id }}"
      userId="{{ user.id }}"
      {{ "userIsStaff" if user.is_superuser or user.is_staff else "" }}
      userRole='{{ user.role }}'
      {{ "accountMaxUsersReached" if account_max_users_reached else "" }}
    >
    </arch-user-table>
  </div>
</div>
{% endblock %}
