{% set breadcrumbs = (("Account", "account"),) %}
{% extends 'keystone/base.html' %}

{% block header_title %}
Account
{% endblock %}

{% block head_extra %}
  <script src="{{ static('/js/arch-user-table.js') }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="card-container">
    <arch-user-table
      accountId="{{ user.account.id }}"
      userId="{{ user.id }}"
      {{ "userIsStaff" if user.is_superuser or user.is_staff else "" }}
      userRole='{{ user.role }}'
    >
    </arch-user-table>
  </div>
</div>
{% endblock %}
