<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Keystone</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ static('css/html5-bp/css/normalize.css') }}">
      <link rel="stylesheet" href="{{ static('css/html5-bp/css/main.css') }}">
      <link rel="stylesheet" href="{{ static('css/app.css') }}">
      <link rel="stylesheet" href="{{ static('css/keystone.css') }}">
      <link rel="apple-touch-icon" sizes="57x57" href="{{ static('favicon/apple-57x57-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{ static('favicon/apple-60x60-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="72x72" href="{{ static('favicon/apple-72x72-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{ static('favicon/apple-76x76-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{ static('favicon/apple-114x114-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{ static('favicon/apple-120x120-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{ static('favicon/apple-144x144-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="152x152" href="{{ static('favicon/apple-152x152-touch-icon.png') }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ static('favicon/apple-180x180-touch-icon.png') }}">
      <link rel="icon" type="image/png" href="{{ static('favicon/favicon-32x32.png') }}" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ static('favicon/favicon-194x194.png') }}" sizes="194x194">
      <link rel="icon" type="image/png" href="{{ static('favicon/favicon-96x96.png') }}" sizes="96x96">
      <link rel="icon" type="image/png" href="{{ static('favicon/android-chrome-192x192.png') }}" sizes="192x192">
      <link rel="icon" type="image/png" href="{{ static('favicon/favicon-16x16.png') }}" sizes="16x16">
      <link rel="manifest" href="{{ static('favicon/manifest.json') }}" crossorigin="use-credentials">
      <link rel="mask-icon" href="{{ static('favicon/safari-pinned-tab.svg%22%20color%3D%22%235bbad5') }}">
      <link rel="shortcut icon" href="{{ static('favicon/favicon.ico') }}">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="{{ static('favicon/mstile-144x144.png') }}">
      <meta name="msapplication-config" content="{{ static('favicon/browserconfig.xml') }}">
      <meta class="foundation-mq-topbar">
      <meta class="foundation-mq-small">
      <meta class="foundation-mq-medium">
      <meta class="foundation-mq-large">
      <script src="{{ static('js/ext/jquery/jquery.min.js') }}"></script>

      {# Upload specific JS not loaded by default #}
      {% block head_deposit %}{% endblock head_deposit %}

    {% endblock head %}
  </head>


  <body class="fullscreen-body">
    <div id="content-row">
      {% block header %}
        <header>
          <div class="row" style="font-size: 0.6875rem; color: #888;">
            <div class="small-12 columns" style="margin-top: 18px;
                                                 margin-left: -7px;">
              {% if breadcrumbs is defined %}
                <template id="general-breadcrumbs" >
                  <div><slot name="web-components"></slot></div>
                </template>
                <general-breadcrumbs data-breadcrumbs='{{ breadcrumbs | tojson }}' >
                  <ul slot="web-components" style="font-size: 0.6875rem;">
                  </ul>
                </general-breadcrumbs>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div class="bottom medium-8">
                <h1>
                  {% block header_title %}Dashboard{% endblock header_title %}
                </h1>
              </div>
            </div>
          </div>
        </header>
      {% endblock header %}

      <!-- Messages -->
      {% if messages %}
        <sticky scroll-offset="60" classes="'sub header'" use-placeholder="1" placeholder-classes="'sub header placeholder'">
          <div class="sub header">
            {% for message in messages %}
              <div class="panel primary sub header margin-bottom zero">
                <div class="row">
                  <div class="small-6 columns left">
                    {{ message }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
      {% endif %}

      <!-- Extra Message -->
      {% block navigation_menu %}
        <sticky scroll-offset="60" classes="'sub header'" use-placeholder="1" placeholder-classes="'sub header placeholder'">
          <div class="sub header">
            <div class="panel darker sub header margin-bottom zero">
              <div class="row">
                <div class="small-6 columns left">
                  {% block navigation_link %}Dashboard{% endblock navigation_link %}
                </div>
              </div>
            </div>
          </div>
          <div class="sub header placeholder" style="height: 41px;">
          </div>
        </sticky>
      {% endblock navigation_menu %}

      <!-- Content -->
      {% block content %}
        <div class="row">
          <div class="small-12 columns">
            <h2>Base Page</h2>
          </div>
        </div>
      {% endblock content %}

    </div>
    <!-- end content row -->

    <!-- Footer -->
    {% block footer %}
      <div class="footer">
        Keystone
      </div>
    {% endblock footer %}
  </body>
</html>
