{% set breadcrumbs = (("Collections", "collections"), (collection.name, ("collection-detail", collection.id))) %}

{% set metadata = collection.metadata or {} %}
{% set object_count = metadata.get("object_count") %}
{% set object_name = metadata.get("object_name_singular") if object_count == 1 else metadata.get("object_name_plural") %}

{% extends 'keystone/base.html' %}

{% block header_title %}
{{ collection.name }}
{% endblock %}


{% block head_extra %}
<script src="{{ static('/js/arch-collection-details-dataset-table.js') }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="row page-tab" id="summary-tab">
  <div class="large-12 columns">
    <h2>Overview</h2>
    <div class="card">
      <div class="card-body">
        <div id="collection-metadata-wrapper">

          <div id="metadata-image-wrapper">
            <img src="{{ (collection.image and collection.image.url) or static('/img/arch-collection-image-placeholder.png') }}" alt="Collection Image" />
          </div>

          <div id="metadata-icons-wrapper">

            {% if object_count != None and object_name != None %}
            <div>
              <h3>
                {{ intcomma(object_count) }} {{ object_name }}
              </h3>
              <p><i class="fa fa-files-o fa-4x" aria-hidden="true"></i></p>
            </div>
            {% endif %}

            <div>
              <h3>{{ collection.size_bytes | filesizeformat(binary=True) }}</h3>
              <p><i class="fa fa-database fa-4x" aria-hidden="true"></i></p>
            </div>

            {% if collection.collection_type == CollectionTypes.AIT %}
            {% include 'keystone/collection-detail-ait-extra-icons.html' %}
            {% endif %}

          </div>

          <div id="metadata-description-wrapper">
            {{ (collection.description or "No description available.") | safe}}

            {% if collection.info_url %}
            <a class="collection-info-url" href="{{ collection.info_url }}">{{ collection.info_url }}</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    {% if configuration_info %}
    <h2 id="datasets">Collection Configuration</h2>
    <div class="card">
      <div class="card-body" id="collection-config">

        {% if "input_collections" in configuration_info %}
        <h3>Input Collections</h3>
        {% if not configuration_info["input_collections"] %}
        <i>An error occurred while retrieving these collections</i>
        {% else %}
        <ul>
          {% for input_collection in configuration_info["input_collections"] %}
          <li>
            <a href="{{ url('collection-detail', args=(input_collection.id,)) }}">
              {{ input_collection.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endif %}

        {% if configuration_info["param_label_value_pairs"] %}
        <h3>Filters</h3>
        <dl>
          {% for label, value in configuration_info["param_label_value_pairs"] %}
          <dt>{{ label }}</dt>
          {% if isinstance(value, list) %}
          <dd>
            {% set value_str = ("<em>" + "</em> or <em>".join(value) + "</em>") %}
            {% if len(value_str) > 100 %}
            <details>
              <summary class="unselectable">
                {{ len(value) }} values
              </summary>
              {{ value_str | safe }}
            </details>
            {% else %}
            {{  value_str | safe }}
            {% endif %}
          </dd>
          {% else %}
          <dd><em>{{ value }}</em></dd>
          {% endif %}
          {% endfor %}
        </dl>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div>
      <h2>Datasets</h2>

      <div class="row">
        <div class="large-12 columns">
          <arch-collection-details-dataset-table
            collectionId="{{ collection.id }}"
          >
          </arch-collection-details-dataset-table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
