{% set breadcrumbs = (("Collections", "collections"), (collection.name, ("collection-detail", collection.id))) %}

{% set metadata = collection.metadata or {} %}

{% extends 'keystone/base.html' %}

{% block header_title %}
{{ collection.name }}
{% endblock %}


{% block head_extra %}
<script src="{{ static('/js/arch-collection-details-dataset-table.js') }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="row page-tab" id="summary-tab">
  <div class="large-12 columns">
    <h2>Overview</h2>
    <div class="card">
      <div class="card-body">
        <div id="collection-metadata-wrapper">

          {% set seed_count = metadata.get("seed_count") %}
          {% if seed_count != None %}
          <div>
            <h3>
              {{ seed_count }} seed{{ "s" if seed_count != 1 else "" }}
            </h3>
            <p><i class="fa fa-files-o fa-4x" aria-hidden="true"></i></p>
          </div>
          {% endif %}

          {% if "last_crawl_date" in metadata %}
          {% set last_crawl_date = metadata["last_crawl_date"] %}
          <div>
            {% if last_crawl_date == None %}
            <h3>No Crawls</h3>
            {% else %}
            <h3>Crawled {{ datetime.datetime.fromisoformat(last_crawl_date).date() }}</h3>
            {% endif %}
            <p><i class="fa fa-calendar-o fa-4x" aria-hidden="true"></i></p>
          </div>
          {% endif %}

          <div>
            <h3>{{ collection.size_bytes | filesizeformat(binary=True) }}</h3>
            <p><i class="fa fa-database fa-4x" aria-hidden="true"></i></p>
          </div>

          {% set is_public = metadata.get("is_public") %}
          {% if is_public != None %}
          <div>
            {% if is_public %}
            <h3>Public Collection</h3>
            <p><i class="fa fa-unlock fa-4x" aria-hidden="true"></i></p>
            {% else %}
            <h3>Private Collection</h3>
            <p><i class="fa fa-lock fa-4x" aria-hidden="true"></i></p>
            {% endif %}
          </div>
          {% endif %}

        </div>

        {% if collection.collection_type == CollectionTypes.AIT and "ait_id" in metadata %}
        <p id="public-collection-link">Public Collection Link: <a href="https://archive-it.org/collections/{{ metadata['ait_id'] }}" target="_blank">https://archive-it.org/collections/{{ metadata['ait_id'] }}</a></p>
        {% endif %}

      </div>
    </div>

    {% if custom_context %}
    <h2 id="datasets">Custom Collection Configuration</h2>
    <p>
      The configuration used to generate this Custom Collection.
    </p>
    <div class="card">
      <div class="card-body" id="custom-collection-config">
        <h3>Input Collections</h3>
        <ul>
          {% for input_collection in custom_context["input_collections"] %}
          <li>
            <a href="{{ url('collection-detail', args=(input_collection.id,)) }}">
              {{ input_collection.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% if custom_context["param_label_value_pairs"] %}
        <h3>Filters</h3>
        <dl>
          {% for label, value in custom_context["param_label_value_pairs"] %}
          <dt>{{ label }}</dt>
          {% if isinstance(value, list) %}
          <dd>
            {{ ("<em>" + "</em> or <em>".join(value) + "</em>") | safe }}
          </dd>
          {% else %}
          <dd><em>{{ value }}</em></dd>
          {% endif %}
          {% endfor %}
        </dl>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div>
      <h2>Datasets</h2>

      <div class="row">
        <div class="large-12 columns">
          <arch-collection-details-dataset-table
            collectionId="{{ collection.id }}"
          >
          </arch-collection-details-dataset-table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
