{% extends "keystone/base.html" %}
{% block header_title %}Explore Collections{% endblock header_title %}
{% block content %}
	{% for collection in collections %}
		<table style="table-layout: auto; width: 100%">


		    <tr>
		    	<td> organizationId </td>
		    	<td> {{collection["organizationId"]}} </td>
		    </tr>
		    <tr>
		    	<td> organizationName </td>
		    	<td> {{collection["organizationName"]}} </td>
		    </tr>
		    <tr>
		    	<td> collectionName </td>
		    	<td> {{collection["collectionName"]}} </td>
		    </tr>
		    <tr>
		    	<td> collectionId </td>
		    	<td> {{collection["collectionId"]}} </td>
		    </tr>
		    <tr>
		    	<td> meta_Description </td>
		    	<td style="white-space:normal"> {{collection["meta_Description"][0]}} </td>
		    </tr>
		</table>
	{% endfor %}

	<h2> entire response </h2>
	<p> {{ collections }} </p>
{% endblock content %}