{% extends "keystone/base.html" %}
{% block header_title %}Import AIT Collections{% endblock header_title %}

{% block head %}
    {{ super() }}

    <script>
     const show = el => el.classList.remove("hidden");
     const hide = el => el.classList.add("hidden");

     function init() {
       const form = document.querySelector("form");

       const importCollectionWrapper = document.getElementById("importCollectionWrapper");
       const collectionIdInput = importCollectionWrapper.querySelector("input")

       const importAccountWrapper = document.getElementById("importAccountWrapper");
       const accountIdInput = importAccountWrapper.querySelector("input")

       const collectionSelectWrapper = document.getElementById("collectionSelectWrapper");
       const collectionSelectEl = document.getElementById("collectionSelect");

       const authorizedEntitiesWrapper = document.getElementById("authorizedEntities");
       const accountsSelectEl = authorizedEntitiesWrapper.querySelector("[name=accounts]")
       const teamsSelectEl = authorizedEntitiesWrapper.querySelector("[name=teams]")
       const usersSelectEl = authorizedEntitiesWrapper.querySelector("[name=users]")

       const loadCollectionInfoButton = document.getElementById("loadCollectionInfo");
       const importCollectionsButton = document.getElementById("importCollections");

       const outputWrapper = document.getElementById("outputWrapper");

       let collectionOrAccount = "";

       form.addEventListener("change", e => {
         const { target } = e;
         switch (target.id) {
           case "oneCollection":
             show(importCollectionWrapper);
             hide(importAccountWrapper);
             hide(collectionSelectWrapper);
             hide(outputWrapper);
             hide(loadCollectionInfoButton);
             hide(importCollectionsButton);
             hide(authorizedEntitiesWrapper)
             collectionOrAccount = "collection";
             break;

           case "accountCollections":
             hide(importCollectionWrapper);
             show(importAccountWrapper);
             hide(collectionSelectWrapper);
             hide(outputWrapper);
             hide(loadCollectionInfoButton);
             hide(importCollectionsButton);
             hide(authorizedEntitiesWrapper)
             collectionOrAccount = "account";
             break;

           case "collectionSelect":
             // Hide output on any change.
             hide(outputWrapper);
             // Enable/disable import button based on collection selection.
             const anySelected = Array
               .from(target.children)
               .filter(el => el.selected)
               .length > 0;
             if (anySelected) {
               show(importCollectionsButton);
               // Ensure it's enabled.
               importCollectionsButton.disabled = false;
               show(authorizedEntitiesWrapper)
             } else {
               hide(importCollectionsButton);
             }
             break;
         }
       });

       function collectionAccountIdInputHandler(e) {
         if (e.target.value.trim().length > 0) {
           show(loadCollectionInfoButton);
         } else {
           hide(loadCollectionInfoButton);
         }
       }

       collectionIdInput.addEventListener("input", e => collectionAccountIdInputHandler(e));
       accountIdInput.addEventListener("input", e => collectionAccountIdInputHandler(e));

       // Load single collection button click handler.
       loadCollectionInfoButton.addEventListener("click", async (e) => {
         e.stopPropagation();
         e.preventDefault();
         // Hide the import collections button and output.
         hide(outputWrapper);
         hide(importCollectionsButton);
         // Remove any existing radio inputs and show loading indicator.
         show(collectionSelectWrapper);
         collectionSelectEl.querySelectorAll("option").forEach(el => el.remove());
         const loadingOption = document.createElement("option");
         loadingOption.textContent = "Loading...";
         collectionSelectEl.appendChild(loadingOption);
         // Fetch the collection info.
         const path =
           collectionOrAccount === "collection"
           ? `/admin/keystone/collection/get_ait_collection_info?collection_id=${collectionIdInput.value}`
           : `/admin/keystone/collection/get_ait_account_collections_info?account_id=${accountIdInput.value}`;
         const response = await fetch(path);
         loadingOption.remove();
         if (!response.ok) {
           alert("Could not retrieve AIT collection info. Check the browser console for details.");
           return
         }
         const collectionInfo = await response.json();
         for (const collection of (collectionOrAccount === "collection" ? [collectionInfo] : collectionInfo)) {
           const option = document.createElement("option");
           option.value = collection.id;
           option.textContent = collection.name;
           collectionSelectEl.appendChild(option);
         }
       }, true);

       function getSelectedOptionValues(selectEl) {
         return Array
           .from(selectEl.children)
           .filter(el => el.selected)
           .map(el => el.value)
       }

       // Import single collection button click handler.
       importCollectionsButton.addEventListener("click", async (e) => {
         e.stopPropagation();
         e.preventDefault();
         // Disable the import collections button.
         importCollectionsButton.disabled = true;
         show(outputWrapper);
         const outputTextarea = outputWrapper.querySelector("textarea");
         outputTextarea.value = "Importing...";
         const response = await fetch(
           `/admin/keystone/collection/import_ait_collections`, {
             method: "POST",
             body: JSON.stringify({
               collectionIds: getSelectedOptionValues(collectionSelectEl),
               accountIds: getSelectedOptionValues(accountsSelectEl),
               teamIds: getSelectedOptionValues(teamsSelectEl),
               userIds: getSelectedOptionValues(usersSelectEl),
             }),
             credentials: "same-origin",
             headers: {
               "X-CSRFToken": "{{ csrf_token }}"
             }
         });
         if (!response.ok) {
           outputTextarea.value = "Something went wrong. Check the Keystone log for details."
         }
         const data = await response.json();
         outputTextarea.value = data.output;
       }, true);
     }

     document.addEventListener("DOMContentLoaded", () => init())
    </script>

{% endblock head %}

{% block content %}

<div class="row">
  <div class="small-12 columns">
    <form style="margin-top: 1rem">
      Import collection(s) by ID or Account ID?
      <div style="margin-top: 1em; margin-left: 1em;">
        <input type="radio" id="oneCollection" name="collectionOrAccount" value="one" autocomplete="off">
        <label for="oneCollection">&nbsp;Collection ID</label>
        <input type="radio" id="accountCollections" name="collectionOrAccount" value="all" autocomplete="off">
        <label for="accountCollections">&nbsp;Account ID</label>
      </div>

      <div id="importCollectionWrapper" class="hidden">
        <label for="collectionId">Collection ID</label>
        <input id="collectionId" type="number" autocomplete="off">
      </div>

      <div id="importAccountWrapper" class="hidden">
        <label for="accountId">Account ID</label>
        <input id="accountId" type="number" autocomplete="off">
      </div>

      <button id="loadCollectionInfo" class="hidden">Load collection info</button>

      <div id="collectionSelectWrapper" class="hidden">
        <label>Select collection(s) to import</label>
        <select id="collectionSelect" style="height: 10rem;" multiple></select>
      </div>

      <div id="authorizedEntities" class="hidden">
        <label>Select accounts to authorize
          {{ SelectMultiple(choices=account_id_name_pairs).render("accounts", "", attrs={"autocomplete": "off", "style": "resize: vertical"}) }}
        </label>

        <label>Select teams to authorize
          {{ SelectMultiple(choices=team_id_name_pairs).render("teams", "", attrs={"autocomplete": "off", "style": "resize: vertical"}) }}
        </label>

        <label>Select users to authorize
          {{ SelectMultiple(choices=user_id_name_pairs).render("users", "", attrs={"autocomplete": "off", "style": "resize: vertical"}) }}
        </label>
      </div>

      <button id="importCollections" class="hidden">Import collection(s)</button>

      <div id="outputWrapper" class="hidden">
        <label for="output">Output</label>
        <textarea id="output" rows="25"></textarea>
      </div>

    </form>
  </div>
</div>

{% endblock content %}
