
{% set breadcrumbs = (("Collections", "collections"), ("Custom Collection Builder", "sub-collection-builder")) %}

{% extends 'keystone/base.html' %}

{% block header_title %}
  Custom Collection Builder
{% endblock %}

{% block head_extra %}
  <script src="{{ static('/js/arch-sub-collection-builder.js') }}" type="module"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <br>
    <arch-sub-collection-builder
      csrfToken="{{ csrf_token }}"
    >
    </arch-sub-collection-builder>
  </div>
</div>
{% endblock %}
